@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.App {
  text-align: center;

  background-color: #a2b6a0;
  background-image: linear-gradient(to right, #8b8f8a, #1d98cc);
}
.gradient-text {
  background: linear-gradient(to right, blue, red);
  -webkit-background-clip: text;
  color: transparent;
}
